<head>Rails Demo App</head>
<body>
  <h1>About</h1>
  <p>A page made by a man teetering on the brink of madness because of the F***ING instructor.  To simulate, play all of the below at the same time.</p>
    <iframe width="150" height="75" src="https://www.youtube.com/embed/XMplRIDiOr4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="150" height="75" src="https://www.youtube.com/embed/XMplRIDiOr4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="150" height="75" src="https://www.youtube.com/embed/XMplRIDiOr4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="150" height="75" src="https://www.youtube.com/embed/XMplRIDiOr4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="150" height="75" src="https://www.youtube.com/embed/XMplRIDiOr4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <%= link_to 'Home', root_path%>
</body>
