<body>
  <h1>Rails Demo App</h1>
  <p>Here's a video of someone who isn't an annoying arse.</p>
  <iframe width="450" height="240" src="https://www.youtube.com/embed/IBQUe2WIpOw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <%= link_to 'About', about_path%>
</body>
